html, body{
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $defaultFont;
}


.mmenu-page{

  overflow-x: hidden; /*Horizontal scrollbar*/
  -ms-overflow-x: hidden; /*IE 8 horizontal scrollbar*/
}

:root{
  font-size: 14px;

  @include responsive(769px, 'min') {
    font-size: 16px;
  }
}

*{
  box-sizing: border-box;
  outline-width: thin;
  -webkit-font-smoothing: antialiased;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

h3{
  font-weight: normal;
}

abbr{
  text-decoration: none;
}

figure{
  padding: 0;
  margin: 0;
}

strong{
  font-weight: 700;
}



