/**
  Source http://flexboxgrid.com/
**/
.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: flex;

  &.end {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }


  &.y {
    align-items: center;
  }

  &.top {
    align-items: flex-start;
  }

  

}

.a-center {
  align-items: center;
}

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.grid-row,
.grid {
  margin-bottom: 1rem;
}

.grid.reverse {
  flex-direction: row-reverse;
}

