.arrow{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: 1px;
    transform: translateY(-50%);
    border-top: 5px solid $cWhite;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;

    &.up {
        border-top: 0;
        border-bottom: 5px solid $cWhite;
    }

}
