.results-table{
    width: 100%;
    color: $cWhite;
    transition: transform 0.33s cubic-bezier(.7,0,.3,1);

    .showingDetails &{
        transform: translate3d(-800px, 0, 0);

        tbody tr:not(.current) {
            opacity: 0.2;
            pointer-events: none;
        }
    }
    
    th{
        background: $c4;
    }
    
    td.centered{
        text-align: center;
    }

    tbody tr.current{
        td{
            background: $c5;
        }
    }

    th, td{
        @include p-($spacer-xs);
        @include rem('font-size', 15px);
        text-align: left;
    }

    tr:nth-child(odd){
        td{
            background: #2b3648;
        }
    }

    tr:nth-child(even){
        td{
            background: #323f53;
        }
    }

}




.showingDetails .details {
    transform: translate3d(0, 0, 0);
}