button{
    border: none;
    background: none;
    outline: none;

    &:disabled{
      opacity: 0.5;
      pointer-events: none;
    }
    
}


%action{
  position: relative;
  cursor: pointer;
  padding: 5px 14px;
  border-radius: 4px;
  font-weight: 900;
  @include rem('font-size', 10px);
  color: $cWhite;
  background: $c3;
  @extend %red-buttons-behaviors;
}
